.chat {
   background-color: rgba(43, 41, 46, 0.884);
   min-height: 1000vh;
}
.chat__write:focus {
   outline: none;
   width: 80%;
   transform: translateY(-50px);
   border-radius: 40px;
   box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.404);
}
.chat__write {
   bottom: 0px;
   padding: 20px 70px;
   margin: 0 auto;
   width: 100%;
   color: white;
   font-size: 18px;
   background-color: #38383a;
   border: none;
   transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
      transform 0.5s ease-in-out;
}
.chat__write:focus ~ .chat__icon {
   opacity: 0;
}
.chat__icon {
   font-size: 22px;
   transition: opacity 0.3s ease-in-out;
}
.chat__write-container {
   position: fixed;
   display: flex;
   justify-content: space-between;
   align-items: center;
   bottom: 0;
   margin: 0 auto;
   left: 0;
   right: 0;
   width: 100%;
}
.chat__icon-left {
   position: absolute;
   left: 10px;
}
.chat__icon-right {
   position: absolute;
   right: 10px;
}
.chat__write-column:nth-child(2) {
   width: 80%;
}
.chat__messages {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 80px;
   padding: 80px 20px;
}
.chat__timestamp {
   font-size: 12px;
   padding: 7px 10px;
   margin: 30px 10px;
   background-color: #38383a;
   border-radius: 20px;
   align-items: center;
   box-shadow: 7px 8px 5px rgba(0, 0, 0, 0.404);
}
