.chat__write {
   position: fixed;
   display: flex;
   justify-content: space-between;
   align-items: center;
   bottom: 30px;
   width: 80%;
   margin: 0 auto;
   left: 0;
   right: 0;
   background-color: #2c2c2e;
   padding: 5px 20px;
   border-radius: 20px;
   box-shadow: 7px 10px 5px rgba(41, 0, 20, 0.404);
}
.chat__write i {
   font-size: 22px;
}
.chat__write-column input {
   background-color: #38383a;
   border: 1px solid #424246;
   border-radius: 30px;
   margin: 10px 5px;
   padding: 10px 10px;
   width: 100%;
   color: white;
   font-size: 15px;
}
.chat__write-column input:focus {
   outline: none;
}
.chat__write-column:nth-child(2) {
   width: 80%;
}
.chat__messages {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 80px;
   border-top: 1px solid #424246;
   padding: 80px 20px;
}
.chat__timestamp {
   font-size: 12px;
   padding: 7px 10px;
   margin: 30px 10px;
   background-color: #38383a;
   border-radius: 20px;
   align-items: center;
   box-shadow: 7px 8px 5px rgba(41, 0, 20, 0.404);
}
.chat {
   background-color: rgba(143, 0, 48, 0.699);
   min-height: 1000vh;
}
