.nav {
   position: fixed;
   width: 100%;
   background-color: #16161a;
   padding: 10px 30px;
   bottom: 0px;
   left: 0px;
   border-top: 1px solid #1f1f22;
}

.nav .nav__list {
   display: flex;
   justify-content: space-between;
}

.nav i {
   font-size: 20px;
}

.nav .nav__list-link {
   position: relative;
}

.nav .nav__badge {
   position: absolute;
   font-size: 12px;
   top: -5px;
   right: -18px;
   color: white;
   background-color: #ff6128;
   width: 24px;
   height: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 9px;
}
@keyframes showNavBar {
   from {
      opacity: 0;
      transform: translateY(100px);
   }
   to {
      opacity: 1;
      transform: none;
   }
}
.nav {
   transform: translateY(100px);
   animation: showNavBar 0.5s ease-out forwards;
   animation-delay: 0.2s;
}
