.nav {
   position: fixed;
   width: 100%;
   background-color: #111113;
   padding: 10px 30px;
   bottom: 0px;
   left: 0px;
   border-top: 1px solid #19191b;
}

.nav .nav__list {
   display: flex;
   justify-content: space-between;
}

.nav i {
   font-size: 20px;
}

.nav .nav__list-link {
   position: relative;
}

.nav .nav__badge {
   position: absolute;
   font-size: 12px;
   top: -5px;
   right: -18px;
   color: white;
   background-color: #ff6128;
   width: 24px;
   height: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 9px;
}
