.settings .header__title {
   padding-left: 250px;
}
.settings__list {
   padding-top: 90px;
}
.settings__setting {
   margin-left: 10px;
   margin-right: 10px;
   padding: 20px 0px;
   border-bottom: 1px solid #1f1f22;
}
.settings__setting:last-child {
   margin-bottom: 0;
   /* no margin-bottom for the last one */
}
.settings__icon {
   margin-right: 10px;
   font-size: 20px;
}
.settings__title {
   font-size: 18px;
}
