.status-bar {
   position: fixed;
   width: 100%;
   top: 0px;
   background-color: black;
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
   padding-right: 23px;
}

.status-bar i {
   font-size: 15px;
}
